<div class='wrapper'>
 
 <%= render "shared/side_bar" %>

  <div class="investments">
    <% if user_signed_in? %>
      <div class="calendar">
       <%= month_calendar do |date| %>
        <%= date.day %>
       <% end %>
      </div>
    <% else %>
      <div class="top-image">
       <P>投資管理アプリ</p>
      </div>
    <% end %>
  </div>
</div>