<div class="header">
 <div class="header-title">
    <div class="logo">
     <p>ロゴ</p>
    </div>
    <div class="header-app-name">
     <p>投資管理あぷり(仮)</p>
    </div>
 </div>
 <div class="header-botton">
    <i class="fas fa-home fa-2x" ></i>
    <div class="log-in-botton">
    <p>ログイン</p>
    </div>
    <div class="sign-in-botton">
    <p>新規登録</p>
    </div>
 </div>
</div>