/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 * {
   box-sizing: border-box;
 }

 /* 新規登録 */
 .contents-row {
  position: relative;

 }

 footer {
   position: absolute;
   bottom: 0;
   width: 100vw;
 }

 body {
   background-color: #ffffe0;
   height: 100vh;
 }

 .header {
  background-color: #6bb6ff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-title {
  display: flex;
}

.logo {
  border: dashed;
  margin: 0 20px ;
}

.header-app-name {
  font-size: 30px;
}

.header-botton {
  display: flex;
  align-items: center;
}

.log-in-botton {
 margin-right: 20px;
 border: 2px solid white;
 padding: 5px;
 text-decoration: none;
 color: white;
 background-color: #4f96f6;
}

.log-in-botton:hover {
  background-color: white;
  color: #4f96f6;
  border: solid 2px;
}

.header-botton i {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.header-botton i:hover {
  color: #4f96f6;
}

.group-name {
  text-decoration: none;
}

.group {
  padding-left: 10px;
  margin: 9px 6px;
  font-size: 17px;
  font-weight: bolder;
  color: #524e4d;
  background-color: #c8e4ff;
  padding-top: 4px;
  padding-bottom: 4px;
  border: darkgray solid thin;
  text-decoration: none;
}